@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DotGothic16", sans-serif;
}

body{
  overflow-x: hidden;
}

.main{
  width: 100%;
  height: 110vh;
  /* background: url("https://images.unsplash.com/photo-1547082299-de196ea013d6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80") no-repeat;
  background-size: 100%; */
  background: rgb(2, 0, 36);
  background: linear-gradient(
    304deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 64, 121, 1) 41%,
    rgba(26, 48, 134, 1) 100%
  );
  color: #fff;
  padding: 0 8.5%;
  position: relative;
}

nav{
  display: flex;
  align-items: center;
  padding: 30px 0 10px;
}

nav ul{
  flex: 1;
  text-align: right;
  padding-right: 40px;
}
nav ul li {
  list-style: none;
  display: inline-block;
  margin: 10px 30px;
}

nav ul li a{
  color: white;
}

.shop-title{
  margin-top: 5%;
  font-size: 15px;
  letter-spacing: 1.2px;
  line-height: 30px;
  text-shadow: 1px 2px 5px black;
}

.shop-title h1{
  z-index: 999;
  font-size: 75px;
  margin-top: 10%;
  margin-bottom: 10%;
  text-shadow: 5px 5px 5px black;
}

.shop-title a{
  text-decoration: none;
  color: antiquewhite;
  margin-top: 30px;
  display: inline-block;
  border: 2px solid aquamarine;
  padding: 10px 30px;
  border-radius: 6px;
}

.shop-title > .btn{
  background-color: rgb(38, 189, 189);
  color: rgb(9, 64, 121,1);
  margin-left: 20px;
  text-shadow: none;
}

/* CSS電腦樣式開始 */

.container {
  width: 680px;
  margin: 0px auto;
  position: absolute;
  right: -65px;
  top: 230px;
  /* HAVE SCALED TO FIT THE WINDOW */
  transform: scale(0.7);
}

.container > .screen {
  width: 460px;
  height: 280px;
  position: relative;  
  background: #ff6860;
  border: 20px solid #474e5d;
  border-radius: 10px;
}

.monitor > div {
  position: absolute;
}

.monitor:before,
.monitor:after,
.laptop:before{
   content: "";
   position: absolute;
   left: 50%;
 }

.monitor:before,
.laptop:before {
  top: -10px;
  margin: -3px 0 0 -3px;
  width: 6px;
  height: 6px;
  border-radius: 6px;
  background: #a5adbd;
}

.screen:after {
  width: 8px;
  height: 8px;
  border-radius: 8px;
  bottom: -10px;
  margin: 0 0 -4px -4px;
  background: #e8ebf0;
}

.content {
  width: 420px;
  height: 240px;
  left: 50%;
  margin-left: -210px;
  overflow: hidden;
}

.content:before {
  content: "";
  position: absolute;
  right: -90px;
  width: 200px;
  height: 300px;
  transform: rotate(45deg);
  background: linear-gradient(to bottom, rgba(255,255,255,0.1) 0%,rgba(255,255,255,0) 100%);
  z-index: 5;
}

.pg {
  width: 240px;
  height: 180px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -90px 0 0 -120px;
  background: #ffffff;
  border: 1px solid #f4f5f7;
  border-top: 20px solid #f4f5f7;
  border-radius: 5px;
  box-shadow: 0 5px 0 #e0625e;
}

.btns {
  position: absolute;
  top: -20px;
  left: 7px;
}

.btns:before {
  content: "";
  position: absolute;
  left: 35px;
  top: 5px;
  height: 10px;
  width: 185px;
  background: #fff;
  border-radius: 3px;
}

.btns > li {
  display: inline-block; 
  list-style: none;
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background: #fc5254;
  margin-right: 4px;
}

.btns li:nth-child(2) {
   background: #fcae52; 
}

.btns li:nth-child(3) {
   background: #66b34e; 
}

.txt {
   margin: 10px auto; 
  width: 220px;
}

.txt > li {
  background: #f3f5f7;
  width: 100%;
  height: 15px;
  margin-bottom: 9px;
}

.txt > li:nth-child(2) {
  height: 60px;
}

.txt > .thin {
  height: 43px;
  width: 30%;
  margin-right: 6px;
  display: inline-block;  
}

.txt > li:nth-child(5) {
  margin-right: 0;
}

.base {
  width: 90px;
  height: 50px;
  bottom: -70px;
  left: 50%;
  margin-left: -45px;
  background: #e8ebf0;
}

.base:before,
.base:after,
.grey-shadow:before,
.grey-shadow:after{
  content: "";
  position: absolute;
  top: 0;
}

.base:before {
  border-left: 13px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 50px solid #e8ebf0;
  left: -13px;
}

.base:after {
  border-right: 13px solid transparent;
  border-left: 0px solid transparent;
  border-bottom: 50px solid #e8ebf0;
  right: -13px;
}

.base > div {
   position: absolute; 
}

.grey-shadow {
  width: 90px;
  height: 12px;
  background: #d8dbe1;
  top: 0;
}

.grey-shadow:before {
  border-left: 3px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 12px solid #d8dbe1;
  left: -3px;
  z-index: 2
}

.grey-shadow:after {
  border-right: 3px solid transparent;
  border-left: 0px solid transparent;
  border-bottom: 12px solid #d8dbe1;
  right: -3px;
  z-index: 2
}

.foot {
  background: #e8ebf0;
  z-index: 1;
}

.foot.top {
  width: 116px;
  height: 5px;
  bottom: -5px;
  left: 50%;
  margin-left: -58px;
}

.foot.top:before,
.foot.top:after,
.foot.bottom:before {
  content: "";
  position: absolute;
  top: 0px;
}

.foot.top:before {
  border-left: 16px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 5px solid #e8ebf0;
  left: -16px;
}

.foot.top:after {
  border-right: 16px solid transparent;
  border-left: 0px solid transparent;
  border-bottom: 5px solid #e8ebf0;
  right: -16px;
}


.foot.bottom {
  width: 150px;
  height: 5px;
  bottom: -10px;
  left: 50%;
  margin-left: -75px;
  z-index: 999;
}

.laptop {
  width: 235px;
  height: 155px;
  background: #fc9252;
  border: 12px solid #e8ebf0;
  border-radius: 10px 10px 0 0;
  position: absolute;
  top: 200px;
  right: 30px;
}

.laptop:before {
 top: -6px;
}

.laptop > div {
  position: absolute; 
}

.laptop > .content {
  width: 211px;
  height: 131px;
  left: 0;
  margin-left: 0;
}

.txt-laptop {
   width: 189px; 
}

.txt-laptop > li {
  background: #fda566;
}

.txt-laptop > li:nth-child(2) {
  height: 41px;
}

.txt-laptop > .thin {
  height: 36px;
  margin-right: 5px;
}

.btm {
  width: 296px;
  height: 7px;
  bottom: -19px;
  left: 50%;
  margin-left: -148px;
  border-radius: 0 0 20px 20px;
  background: #f4f5f7;
  z-index: 1;
}

.btm:before {
  content: "";
  position: absolute;
  width: 42px;
  height: 3px;
  left: 50%; 
  top: 0;
  margin-left: -21px;
  border-radius: 0 0 5px 5px;
  background: #d8dbe1;
}

.keyboard {
  width: 216px;
  height: 35px;
  bottom: -70px;
  left: 50%;
  margin-left: -108px;
  background: #e8ebf0;
  box-shadow: 0 4px 0 #d8dbe1;
  z-index: 2;
}

.keyboard:before,
.keyboard:after {
  content: "";
  position: absolute;
  top: 0;
  z-index: 2;
}

.keyboard > div {
   position: absolute; 
}

.keyboard .btm {
  background: #d8dbe1;
  width: 244px;
  height: 4px;
  border-radius: 0;
  bottom: -4px;
  left: 50%;
  margin-left: -122px;
}


.keyboard:before {
  border-left: 14px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 35px solid #e8ebf0;
  left: -14px;
}

.keyboard:after {
  border-right: 14px solid transparent;
  border-left: 0px solid transparent;
  border-bottom: 35px solid #e8ebf0; 
  right: -14px;
}

.keys {
  width: 220px;
  margin: 4px auto;
  text-align: center;
  position: relative;
  left: 50%;
  margin-left: -110px;
}

.keys li {
  position: relative;
  left: 50%;
  background: #f4f5f7;
  height: 4px;
  margin: 0 0 3px -110px;
  z-index: 4;
}

.keys li:nth-child(1) {
  width: 208px;
  margin-left: -104px;
}

.keys li:nth-child(2) {
  width: 212px;
  margin-left: -106px;
}

.keys li:nth-child(2) {
  width: 212px;
  margin-left: -106px;
}

.keys li:nth-child(3) {
  width: 216px;
  margin-left: -108px;
}

.keys li:nth-child(4) {
  width: 220px;
  margin-left: -110px;
}

.keys li:before,
.keys li:after {
  content: "";
  position: absolute;
}

.keys li:before {
  border-left: 3px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 4px solid #f4f5f7;
  left: -3px;
}

.keys li:after {
  border-right: 3px solid transparent;
  border-left: 0px solid transparent;
  border-bottom: 4px solid #f4f5f7;
  right: -3px;
}

.phone {
  width: 70px;
  height: 140px;
  position: absolute;
  bottom: -90px;
  left: -30px;
  border-radius: 5px;
  background: #000;
  border: 25px solid #2f343e;
  border-left: 5px solid #2f343e;
  border-right: 5px solid #2f343e;
}

.phone:before,
.phone:after {
  content: "";
  position: absolute;
  left: 50%;
  background: #474e5d;
}

.phone:before {
  background: #474e5d;
  width: 20px;
  height: 4px;
  margin-left: -10px;
  top: -12px;
  border-radius: 2px;
}

.phone:after {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  bottom: -18px;
  margin-left: -5px;
}

.phone .screen {
  width: 60px;
  height: 90px;
  position: relative;
  overflow: hidden;
}

.phone .content {
  background: #fff;
  width: 60px;
  left: 0%;
  margin-left: 0px;
}

.phone .txt {
  width: 85%;
}

.phone .txt > li {
  height: 20px;
}
  
.shadow {
  position: absolute;
  width: 350px;
  height: 15px;
  left: 50%;
  margin-left: -175px;
  z-index: -1;
  bottom: -20px;
  background: radial-gradient(ellipse at center, rgba(52,172,108,1) 0%,rgba(52,172,108,1) 53%,rgba(46,204,113,1) 55%,rgba(46,204,113,0) 55%,rgba(46,204,113,0) 100%);
}

.laptop .shadow {
  width: 450px;
  margin-left: -225px; 
  bottom: -26px;
}

.keyboard .shadow {
  bottom: -10px;
  height: 10px;
}

.phone .shadow {
  bottom: -30px;
  margin-left: -50px;
  height: 10px;
  width: 100px
}

/* 電腦CSS樣式結束 */

.text{
  width: 100%;
  margin-top: 80px;
  text-align: center;
  background-size: 100% 100%;
  color: white;
  letter-spacing: 1px;
  line-height: 35px;
  
}

.text h1{
  margin-top: 40px;
  border-bottom: 2px solid rgb(20, 20, 20);
  width: fit-content;
  padding: 20px 0px;
  margin-bottom: 40px;
  font-size: 40px;
}

.text1{
  background: url("https://images.unsplash.com/photo-1522163723043-478ef79a5bb4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8c2FkJTIwcm9hZHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=2000&q=60") no-repeat;
  height: 115vh;
  font-size: 20px;
}


.text2{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  height: 90vh;
}

.h1-border{
  display: flex;
  justify-content: center;
}



.text1 h1{
  margin-top: 150px !important;
  border-bottom: 2px solid rgb(247, 247, 247);
}

.text1 p{
  margin-left:70px;
}

.text2 p{
  font-size: 20px;
  line-height: 55px;
  margin-left: 80px;
}

/* 試看影片樣式開始 */
.wrap{
  width: 1000px;
  margin: 0 auto;
  margin-top: 60px;
}

.video-block{
  display: flex;
  flex-direction: row;
  margin-left: -30px;

}

.video{
  margin-left: 25px;
  margin-bottom: 20px;
  box-shadow: 5px 5px 15px black;
  padding: 10px;
}

.video-container span{
  font-size: 25px;
}

.video-container hr{
  margin-top: 20px;
  margin-bottom: 20px;
}

.video-title{
  font-size: 20px;
  font-weight: 500;
}
/* 試看影片樣式結束 */
/* 會員方案樣式開始 */
.text3{
  /* background-color: rgb(110, 109, 109); */
  color: rgb(0, 0, 0);
  height: 195vh;
  width: 100%;
  margin: 0 auto;
  background-color: #F5F5F5;
}
.text3 h1{
  margin-top: 120px;
}

.subscribe{
  display: flex;
  justify-content: center;
}

.subscribe li{
  list-style: none;
  width: 28%;
  background-color: #fff;
  border-radius: 12px;
  border: 2px solid rgb(197, 192, 192);
  box-shadow: 8px 8px 16px #ccc;
  transition: all 0.3s ease;
  margin-right: 25px;
  margin-top: 50px;
}

.subscribe-title{
  background-color: #ccc;
  border-radius: 10px 10px 0 0;
  border-bottom: solid 1px #ddd;
  font-size: 30px;
  font-weight: bold;
  padding: 16px 8px;
  text-align: center;
  
}

.subscribe-text{
  height: 190px;
  text-align: start;
  margin-top: 25px;
  font-size: 25px;
}

.subscribe p{
  margin-left: 25px;
}

.text-detail{
  height: 200px;
}

.detail p{
  text-align: start;
  font-size: 20px;
}

.price{
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
  margin-right: 60px;
}

.red{
  font-size: 80px;
  color: red;
  font-family:'Times New Roman', Times, serif;
  font-weight: 900;
}

.month{
  font-size: 20px;
}

.yuan{
  color: red;
}

.detail-content{
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
}

.text-recommend{
  height: 150px;
}
/* 會員方案樣式結束 */

/* 影片區塊樣式開始 */
.text4{
  background: url("https://web-design.vip/img/bg-register4.jpg") no-repeat;
  height: 125vh;
  font-size: 20px;
  width: 100%;
  background-size: 100%;
  text-shadow: 4px 4px 5px rgb(0, 0, 0);
  margin: 0;
}

.h3-border p{
  font-size: 28px;
  line-height: 70px;
  text-shadow: 5px 5px 15px black;
}
.h3-border {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.p-height{
  height: 100px;
}

.h3-border img{
  margin-top: 110px;
}

.h3-border .btn-welcome{
  margin-top: 50px;
}

/* 影片區塊樣式結束 */

/* 立即登入區塊樣式開始 */
.text-welcome{
  background-color: #4e6bb3;
  height: 65vh;
  width: 100%;
  font-size: 20px;
  text-shadow: 4px 4px 15px rgb(0, 0, 0);
  display: flex;

  justify-content: center;
}
/* 立即登入區塊樣式結束 */

.text-welcome>*{
  margin-top: 80px;
}

.h2-border p{
  font-size: 28px;
  line-height: 70px;
  text-shadow: 5px 5px 15px black;
}



/* 人家的按鈕樣式開始 */
.btn-welcome{
  text-shadow: 5px 5px 15px;
  background-color: #ffffff;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  margin-bottom: -70px;
}

.btn-welcome:hover,
.btn-welcome:focus {
  opacity: .75;
}
/* 人家的按鈕樣式結束 */

/* 好評推薦樣式開始 */
.text5{
  color: rgb(0, 0, 0);
  height: 140vh;
  width: 100%;
  margin: 0 auto;
  /* background-color: #F5F5F5; */
  background-color: #ecebec;
  background-size: 100%;
  margin-top: -80px;
}

.text5 h1{
  margin-top: 120px;
}

/* 好評推薦樣式結束 */
/* 會員卡片樣式開始 */
.avatar {
  vertical-align: middle;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.card{
  display: flex;
  flex-direction: column;
  background-color: #e1e1e1;
  width: 380px;
  border: 2px solid rgb(94, 127, 238);
  border-style:groove;
  box-shadow: 5px 5px 15px black;
  border-radius: 12px;
  margin-left: 30px;
  
}

.row{
  display: flex;
  flex-direction: row;
  transform: scale(.93);
}

.card-up{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.card-data{
  text-align: right;
}

.card-down{
  background-color: #e1e1e1;
  height: 310px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 12px;
  position: relative;
}

.star{
  font-size: 20px;
  color: rgb(227, 159, 41);
}


.triangle{
  width: 0; 
  height: 0; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #ffffff;
  position: absolute;
  left: 65px;
  margin-top: 7px;
}


.card-text{
  margin-top: 20px;
  height: 250px;
  padding: 25px 15px;
  background-color: #ffffff;
  width: 320px;
  font-size: 15px;
  text-align: start;
}

/* 會員卡片樣式結束 */

/* 好評推薦樣式結束 */
/* 立即付款樣式開始 */

.text6{
  color: rgb(0, 0, 0);
  height: 109vh;
  width: 100%;
  margin: 0 auto;
  background-color: #F5F5F5;
}

.text6 .h1-border h1{
  margin-top: 100px;
}

.pay-block{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: start;
  margin-top: 70px;
  line-height: 30px;

}

.pay-block>*{
  width: 500px;
  height: 300px;
  margin-right: 30px;
}

.pay-block p{
  font-size: 20px;
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 100;
}

.credit-card{
  margin-left: 60px;
}

.pay-title{
  font-size: 30px;
  margin-bottom: 45px;
  font-weight: 900;
  font-family: 'Noto Sans TC', sans-serif;

}

/* 立即付款樣式結束 */
/* 學習心得樣式開始 */
.text7{
  background-color: #f1efe5;
  color: rgb(0, 0, 0);
  height: 270vh;
  margin-top: 0;
}
.text7 h1{
  margin-top: 150px;
}

.btn-list{
  display: flex;
  margin-left: 13%;
  margin-bottom: 20px;
}

.list-title{
  border-top: 3.5px solid greenyellow;
  padding: 15px 2px;
  width: 180px;
  background-color: rgb(255, 255, 255);
  margin-right: 10px;
  height: 80px;
}

.review-content{
  background-color: #fff;
  width: 900px;
  margin: 0 auto;
}

.review-content li{
  text-align: start;
  list-style: none;
  margin-bottom: 8px;
}


.review-content ul{
  padding: 50px 50px;
}


/* 學習心得樣式結束 */

.footer{
  background: #272727;
  color: rgb(255, 255, 255);
  height: 280px;
  margin-top: -100px;
}

.footer>*{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.desc{
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

.desc-text{
  margin-top: 50px;
  width: 500px;
}

.desc h3{
  font-size: 25px;
}

.desc img{
  width: 100px;
  margin-top: 50px;
}

.link{
  flex-direction: row;
  font-size: 12px;
  margin-top: 10px;
}

.link span{
  margin-top: 50px;
  margin-right: 20px;
}

.copyright{
  margin-top: 5px;
  position: absolute;
  font-size: 12px;
  margin-left: 35%;
}

/* swiper樣式開始 */


.swiper-button-prev, .swiper-button-next{
  background-color: #dbdbdc;
  border-radius: 12px;
  padding: 25px;
  opacity: .8;
}

.swiper-pagination{
  bottom: -9px !important;
}

.swiper{

  height: 470px;
}


/* swiper樣式結束 */
